<div class="container mt-5">
  <h4>Siempre que me muevo, eso es Aikido</h4>
  <br />

  <h6 class="my-5">-O Sensei, Morihei Ueshiba</h6>

  <p>
   El Aikido es un arte marcial japonés creado por Morihei Ueshiba (1883-1969), ahora conocido como O-Sensei o Gran Maestro. Ueshiba estudió y se convirtió en un experto en muchas formas tradicionales de artes marciales, entre ellas el kendo y el ju-jitsu. En la década de 1930, O-Sensei decidió establecer su propio arte, uno significativamente diferente de las antiguas escuelas. Este arte eventualmente se conocería con el término Aikido.
  </p>
  <br />
  <p class="my-3">
   La palabra "Aikido" está formada por tres kanji (caracteres japoneses):

  </p>
  <div class="my-5">合 - ai- Joining, harmonizing</div>
  <div class="my-5">気 -Ki- spirit, life energy</div>
  <div class="my-5">道- way, path</div>

  <p class="mt-2">
  De manera que el, Aikido puede ser traducido como "El Camino de la armonización de la energía". O-Sensei se dio cuenta de que ganar a expensas de la derrota de otro no era una victoria en absoluto. Como resultado de esa revelación, O-sensei tomó las habilidades marciales que había dominado y creó a partir de ellas una disciplina completamente nueva. En las técnicas de Aikido, nos fusionamos con nuestro agresor en lugar de luchar de manera directa. Nunca hay oposición directa. En su lugar, la energía del agresor es redirigida o evitada. El ataque conduce a una proyección o una inmovilización, y se tiene cuidado de hacer el menor daño posible al agresor. El agresor aprende rápidamente que solo se lastimará a sí mismo con su agresión.
  </p>

  <p class="my-5">
   Casi todos los movimientos de Aikido son de naturaleza circular. Incluso los movimientos que parecen ser directos y rectos tienen elementos de movimiento en espiral. El Aikido puede ser extremadamente vigoroso, dinámico y poderoso. También es muy difícil de ejecutar correctamente, a pesar de lo que pueda creer un observador casual al ver la facilidad con la que un Aikidoka experimentado lanza a su compañero.
  </p>

  <p class="my-5">
   Al final, solo hay una forma de llegar verdaderamente a conocer y comprender el poder del Aikido
  </p>

  <h5 class="my-5">Practicar!</h5>
</div>
