<div class="container-fluid">
<div class="row">
    <div class="col-12 h-100 p-0">
    
<video src="assets/img/Hero.mp4" type="video/mp4" class="w-100"  autoplay="autoplay" [muted]="true" loop="loop">

</video>

</div>
</div>
</div>

<div class="text-overlay">
  <h1>Nuestra Historia</h1>
     <h3>Desde 1989</h3>
</div>


<div class="card mb-3 container my-5 text-center" style="border: danger">
  <div class="row g-0">


     <div class="col-md-8 d-flex align-items-center">
      <div class="card-body">
        <h1 class="card-title">Biografia de Susan</h1>
    <button type="button" class="btn btn-outline-secondary">Ver</button>

      </div>
    </div>


    <div class="col-md-4">
      <img src="assets/img/firstphoto.webp" class="img-fluid img-thumbnail susan" alt="oneofthefirstphoto">
    </div>
  </div>
</div>

<h1>Los primeros cinturones negros</h1>

<section class="personas">

  <div class="contenedor">
    <article class="persona_columna">

      <img src="assets/img/norman.webp" class="img1" alt="">

    </article>

     <article class="persona_columna">

      <img src="assets/img/ricardo.webp" alt="" class="img1">

    </article>
     <article class="persona_columna">

      <img src="assets/img/mario.webp" alt="" class="img1">

    </article>
     <article class="persona_columna">

      <img src="assets/img/bruce.webp" alt="" class="img1">

    </article>

     <article class="persona_columna">

      <img src="assets/img/marlon.webp" class="img1" alt="">

    </article>


  </div>


</section>



<!-- <div class="container-fluid mt-5">



  <div class="row">
    <div class="col-3 position-relative g-3">
      <img src="assets/img/norman.webp" class="img-fluid" alt="">
      <div class="position-absolute bottom-0 center">
        <h5 class="text-white">Norman</h5>
      </div>
    </div>
    <div class="col-2 position-relative g-3">
      <img src="assets/img/ricardo.webp" class="img-fluid" alt="">
      <div class="position-absolute bottom-0 center">
        <h5 class="text-white">Ricardo</h5>
      </div>
    </div>
     <div class="col-2 position-relative g-3">
      <img src="assets/img/mario.webp" class="img-fluid" alt="">
      <div class="position-absolute bottom-0 center">
        <h5 class="text-white">Mario</h5>
      </div>
    </div>
     <div class="col-2 position-relative g-3">
      <img src="assets/img/bruce.webp" class="img-fluid" alt="">
      <div class="position-absolute bottom-0 d-flex">
        <h5 class="text-white">Bruce</h5>
      </div>
    </div>
     <div class="col-3 position-relative g-3">
      <img src="assets/img/marlon.webp" class="img-fluid" alt="">
      <div class="position-absolute bottom-0 center">
        <h5 class="text-white">Marlon</h5>
      </div>
    </div>
  </div>
</div> 

