



.text-overlay {
  position: absolute;
  top: 50%;
  left:20%;
  transform: translate(-50%, -50%);
 
  padding: 20px;
  color: white;

}





  


.susan {

box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
transition: all .5s;

}



.susan:hover {
  cursor: pointer;
  transform: scale(1.1);

}

.img-fluid {

  object-fit:cover;
  width: 100%;
  height:100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.grid-container1 {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-gap: 10px; /* Espacio entre las columnas */
  
  
}

.grid-item {
  width: 100%;
  aspect-ratio: 1/1; /* Mantiene la relación de aspecto 1:1 para las imágenes */
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para llenar completamente el contenedor */
}

@media(max-width: 767px) {

 .text-overlay {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  color: #ffffff;
}

.text-overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.text-overlay h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

 

  .grid-container1 {
    grid-template-columns: repeat(2, 50%);
    
    grid-auto-rows: auto;
  }

  .grid-item {
    width: 100%;
    aspect-ratio: 1/1;
  }

 
}
